  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 25px;
    width: 100%;
  }
  
  .carousel-caption p {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: auto;
    font-size: 18px;
    float: left;
  }
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  #navbarSupportedContent {
    color: white;
    margin-top: 50px;

  }
  .container {
    border-bottom: 2px solid white;
}
  li.nav-item {
    padding-right: 60px;
  }
  .text{
      font-weight: 300;
      font-size:26px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-right: 432px;
  }
  .carousel-indicators {
    right: 0;
    bottom: 0;
    left: -21%;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 9%;
}
  .carousel-indicators .active {
    width: 30px;
    height: 30px;
    margin: 4px;
    background-color: #be882a;
    border:2px solid #be882a;
    border-radius: 50%;
  }
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid white; 
    border-bottom: 10px solid white; 
    border-radius: 50%;
}
#carouselExampleIndicators .carousel-caption {
  color: white;
  xright: 58%;
  text-align: left;
  max-width: 300px;
  left: 5%;
  top: 28%;
  xtransform: translateY(-50%);
  xbottom: initial;
  background: rgba(0,0,0,0.5);
  padding:10px;
  height:100%;

}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  margin-top: 15px;
  background-color:#be882a !important;
  border-color: #d39e00 !important;
  border-radius: 50px!important;
  padding:2px 30px!important;
  font-size: 30px !important;
  line-height: 1.3333333 !important;
}

  